#left {
    width: 500px;
    padding: 20px;
    font-family: Helvetica;
    font-size: 13px;
}

#blockquote {
    margin-left: 40px;
}

#menu {
    float: right;
    margin-top: 30px;
    margin-right: 20px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
